@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  background-color: #050c18;
  background-image: radial-gradient(at 0% 0%, rgba(16, 215, 168, 0.15), transparent 50%), radial-gradient(at 100% 0%, rgba(255, 255, 255, 0.1), transparent 50%), radial-gradient(at 100% 100%, rgba(16, 215, 168, 0.1), transparent 50%), radial-gradient(at 0% 100%, rgba(255, 255, 255, 0.05), transparent 50%);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #e6edf7;
  font-family: 'Inter', sans-serif;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Space Grotesk', sans-serif;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #050c18;
}

::-webkit-scrollbar-thumb {
  background: #1e293b;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #10d7a8;
}